*{
    font-family: Helvetica,sans-serif;
    box-sizing: border-box;
    font-size: 1.05em;
}
.app{
    width: 70%;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header{
    width: 100%;
}
.display{
    background-color: #EAEAEA;
    /* stopping margin collapsing */
    border: solid 1px transparent;
    padding-left: 30px;
    width: 100%;
}
img{
    width: 100%;
    height: 200px;
}
.footer, .menu{
    background-color: #625B5B;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 0;
    width: 100%;
}
ul{
    padding-left: 40px;
    list-style-type: circle;
}
.menu-link{
    font-weight: 700;
    background-color: #EAEAEA;
    color: #625B5B;
    padding: 10px;
    margin: 50px;
    border-radius: 20px;
}
.menu-link:hover{
    background-color: #625B5B;
    color: #EAEAEA;
    border: solid #EAEAEA 1px;
}
table{
    border: dashed #625B5B 1px;
    width: 60%;
    margin-left: 40px;
    text-align: center;
}
.kontrolki{
    padding: 5px;
    margin-bottom: 10px;
}